.MenuItemConfig__menuItemToggle {
  text-align: right;
  display: block;
}

.MenuItemConfig__menuItemPicture {
  object-fit: cover;
  width: 90%;
}

.MenuItemConfig__menuItemPictureContainer {
  width:30%;
}

.MenuItemConfig__flexContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}