* {
  margin: 0;
  padding: 0;
  font: var(--font-body);
  text-decoration: none;
  color: black;
}

body {
  background-color: var(--color-off-white-light);
}

::selection {
  background: black;
  color: white;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

img,
button,
input {
  border: 0;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  font-weight: 700;
}

:root {
  --color-primary-light-shaded: #dfefff;
  --color-primary-light: #ebf5ff;
  --color-primary: #2695ff;
  --color-primary-shaded: #2182df;
  --color-primary-dark: #051320;
  --color-off-white: #ebebeb;
  --color-off-white-light: #f8f8f8;
  --color-off-black: #181818;
  --color-off-black-light: #333333;
  --color-text-header: black;
  --color-text-body: #111;
  --color-text-caption: #666;
  --color-text-body-faded: #666;
  --color-clear: #ffffff00;

  --font-brand-title: 600 "Rubik", "Roboto",sans-serif;
  --font-header-l: 700 2em "Oswald", "Roboto",sans-serif;
  --font-header-m: 700 1.5em "Oswald", "Roboto",sans-serif;
  --font-header-s: 500 1.25em "Oswald", "Roboto",sans-serif;
  --font-header-xs: 500 1em "Roboto", sans-serif;
  --font-body: 400 1em "Roboto", sans-serif;
  --font-caption: 0.88em "Roboto", sans-serif;
  --font-disclaimer: 0.625em "Roboto", sans-serif;
}

.container {
  max-width: 600px;
  min-height: 100vh;
  margin: auto;
  background-color: white;
  position: relative;
}

.headerImage {
  width: 100%;
  object-fit: cover;
  height: 120px;
  filter: blur(0px);
}

.btn {
  border: 0;
}

.btn:disabled {
  background-color: var(--color-off-white-light);
  color: var(--color-text-body);
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-primary:active {
  background-color: var(--color-primary-shaded);
}

.btn-secondary {
  background-color: var(--color-primary-light);
  color: var(--color-primary-shaded);
}

.btn-secondary {
  background-color: var(--color-primary-light-shaded);
}

.btn-main {
  height: 48px;
  border-radius: 16px;
  width: calc(100% - 32px);
}

.btn-circle {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

.centred {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centred-top {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  width: 311px;
}

.anchored-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 600px;
}

.flex-spacer {
  flex-grow: 10;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 0 16px;
  overflow-y: auto;
  /* height: 600px; */
}

.header-l {
  font: var(--font-header-l);
}

.header-m {
  font: var(--font-header-m);
}

.header-s {
  font: var(--font-header-s);
}

.header-xs {
  font: var(--font-header-xs);
  color: var(--color-text-header);
}

.text-body {
  color: var(--color-text-body);
}

.text-body-faded {
  color: var(--color-text-body-faded);
}

.text-caption {
  font: var(--font-caption);
  color: var(--color-text-caption);
}

.text-disclaimer {
  font: var(--font-disclaimer);
  color: var(--color-text-body-faded);
  text-align: center;
}
