.Home {
  background-color: var(--color-primary-light);
}

.Home__headerLogo {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Rubik" sans-serif;
  color: var(--color-primary);
}

.Home__accordion {
  background-image: linear-gradient(
    var(--color-primary-light-shaded),
    var(--color-clear)
  );
  border-radius: 16px;
  padding: 24px;
}

.Home__testimonialBox {
  background-image: linear-gradient(
    var(--color-primary-light-shaded),
    var(--color-clear)
  );
  border-radius: 16px;
  padding: 24px;
}

.Home__testimonialImage {
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.Home__headingLarge {
  font-size: 5rem;
  font-weight: 600;
  font-family: "Rubik";
}

.Home__headingMedium {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Rubik" sans-serif;
}

.Home__headingSmall {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Rubik" sans-serif;
}

/* Footer */

.Home__footer {
  background-color: var(--color-primary-light-shaded);
}
