.MerchantOrder__orderStatusContainer {
  background-color:lightcoral;
  border-radius: 40%;
  width: 100px;
  height: 18px;
  display: flex;
  justify-content: center;
}

.MerchantOrder__orderStatusText {
  color:darkred;
  justify-content: center;
}

.MerchantOrder__numberCircle {
  background-color: var(--color-off-white-light);
  font-size: 17px;
  border-radius: 14px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}