* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #333333;
}

:root {
  --color-primary-light-shaded: #dfefff;
  --color-primary-light: #ebf5ff;
  --color-primary: #2695ff;
  --color-primary-shaded: #2182df;
  --color-primary-dark: #051320;

  --font-title: "Rubik", sans-serif;

  --color-off-white: #ebebeb;
  --color-off-white-light: #f8f8f8;
  --color-text-gray: #f8f8f8;
}
