.NavBar {
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: 600px;
  height: 48px;
  z-index: 100;
}

.NavBar__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-bottom: 1px solid var(--color-off-white-light);
}

.NavBar__content {
  position: relative;
  height: 100%;
}

.NavBar__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.NavBar__left {
  position: absolute;
  display: flex;
  top: 50%;
  left: 6px;
  transform: translate(0, -50%);
}

.NavBar__right {
  position: absolute;
  display: flex;
  top: 50%;
  right: 6px;
  transform: translate(0, -50%);
}

.NavBar__item {
  margin: 0 2px;
}

