.MainButton__button {
  height: 48px;
  border-radius: 16px;
  border: 0;
}

.MainButton__sideMessage {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--color-off-white);
}
