.MenuItemPage__headerImage {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3;
}

.MenuItemPage__content {
  padding: 0 16px;
}

.MenuItemPage__disclaimer {
  text-align: center;
}

.MenuItemPage__counter {
  display: flex;
  align-items: center;
}

.MenuItemPage__counterButton:disabled {
  color: var(--color-gray);
  background-color: var(--color-off-white-light);
}

.MenuItemPage__counterButton:active {
  background-color: var(--color-primary-shaded);
}

.MenuItemPage__counterValue {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background-color: var(--color-off-white-light);
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}