.MenuItemPage {
  max-width: 600px;
  margin: auto;
}

.MenuItemPage__headerImage {
  width: 100%;
}

.MenuItemPage__content {
  padding: 0 16px;
}

.MenuItemPage__disclaimer {
  text-align: center;
}

.MenuItemPage__button {
  background-color: var(--color-primary);
  border-radius: 16px;
  height: 48px;
  width: 100%;
  margin: 0;
  border: 0;
  color: white;
}