.MenuItemPage__headerImage {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3;
}

.MenuItemPage__content {
  padding: 0 16px;
}

.MenuItemPage__disclaimer {
  text-align: center;
}

.MenuItemPage__counter {
  display: flex;
  align-items: center;
}

.MenuItemPage__counterButton {
  width: 32px;
  height: 32px;
  background-color: var(--color-primary);
  color: white;
  border-radius: 16px;
  border: 0;
}

.MenuItemPage__counterButton:disabled {
  color: var(--color-gray);
  background-color: var(--color-off-white-light);
}

.MenuItemPage__counterButton:active {
  background-color: var(--color-primary-shaded);
}

.MenuItemPage__counterValue {
  margin: 0 8px;
}