.MerchantOrderItem__numberCircle {
  background-color: var(--color-off-white-light);
  font-size: 17px;
  border-radius: 14px;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.MerchantOrderItem__flexContainer {
  display: flex;
  justify-content: start;
  align-items: center;
}