.MenuItemPage {
  max-width: 600px;
  margin: auto;
  position: relative;
  left: 0;
  top: 0;
}

.MenuItemPage__headerImage {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}

.MenuItemPage__content {
  padding: 32px 20px;
  background-color: white;
  border-radius: 24px;
  margin-top: -40px;
  position: absolute;
  width: calc(100% + 8px);
  margin-left: -4px;
  left: 0;
  top: 200px;
}

.MenuItemPage__button {
  background-color: var(--color-primary);
  border-radius: 16px;
  height: 48px;
  width: 100%;
  margin: 0;
  border: 0;
  color: white;
}